@model Galerium

@{
    Layout = "_LayoutScripts";
}

<div id="fotorama" class="fotorama animate__animated animate__delay-1s animate__faster animate__fadeIn" data-auto="false" data-nav="thumbs" data-allowfullscreen="native" data-width="100%" data-height="100%">
</div>

@section Scripts{
    <script>
    window.addEventListener('DOMContentLoaded', (event) => {
        
        fetch("@Url.Action("GetImagenes")?idGaleria=@Model.Id")
        .then(response => response.json())
        .then(imgs => {
            crearFotorama(imgs);
        });
        
    });
    
    async function crearFotorama(imgs)
    {
        const data = [];
        imgs.map((foto) => data.push({ img: foto["url"], thumb: foto["urlThumb"] }));
         $('#fotorama').fotorama({ data: data });
    }
    </script>
}