@using SeguimientoEgresados.Models.ViewModels
@using System.Text.Json
@model IEnumerable<VerAlbumViewModel>

@{
    ViewBag.Title = "Galería";
  string jsonAlbum = "";
    //Layout = "_Layout";
}

<div class="container border mt-4 p-4">
  <h2>Galería</h2>
  <div id="albumes" class="row">
    <div class="col-12">
      @* <div class="fotorama" data-width="80%" data-ratio="800/600"> *@
      @*   <img src="https://res.cloudinary.com/seguimiento-egresados-itc/image/upload/v1650253658/Egresados/2022-04-17%2010:47:33/tsyuel1r5kcqeh1nvruu.png"> *@
      @*   <img src="https://res.cloudinary.com/seguimiento-egresados-itc/image/upload/v1650253657/Egresados/2022-04-17%2010:47:33/zklz3zdvoocepuwdwgeh.png" alt="..."> *@
      @*   <img src="https://s.fotorama.io/2.jpg"> *@
      @* </div> *@
    </div>
  </div>
</div>

<div id="modalAlbum">
  <div class="modal fade" id="modalVerAlbum" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content  modal-dialog-scrollable">
              <div class="modal-header d-flex flex-column align-items-start text-break">
                  <h5 class="modal-title" id="exampleModalLabel">Titulo</h5>
                  <p>Descripcion</p>
              </div>
              <div class="modal-body ratio ratio-16x9">
                <iframe id="iframeVerAlbum">
                  <div class="col-12 p-4 d-flex justify-content-center"><div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div></div>
                </iframe>
              </div>
              @* <div class="modal-footer"> *@
              @*   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> *@
              @*   <button type="button" class="btn btn-primary">Save changes</button> *@
              @* </div> *@
          </div>
      </div>
  </div>

</div>

@section Scripts
{
  <script>
  
    let modal;
  
    window.addEventListener('DOMContentLoaded', (event) => {
      const data = JSON.parse('@Json.Serialize(Model)');
      const iframe = document.getElementById('iframeVerAlbum');
      iframe.addEventListener('load', function () {    
        console.log("show");
          modal = modal == null ? new bootstrap.Modal(document.getElementById("modalVerAlbum")) : modal;
          modal.show();
      });
      generarAlbumes(data);
    });
    
    async function generarAlbumes(data){
      const contenedor = document.getElementById("albumes");
      for(let i = 0; i < data.length; i++){
        const galeria = data[i];
        const tarjeta = document.createElement("div");
        tarjeta.classList.add("col-12", "col-md-6", "col-lg-4", "my-2", "animate__animated", "animate__faster", "animate__fadeIn");
        tarjeta.innerHTML += `
            <div class="card manita ver-galeria" onclick="verAlbum(${galeria.id})">
              <img src="${galeria.miniaturaUrl}" class="card-img-top miniatura-galeria border-bottom" alt="...">
              <div class="card-body miniatura-galeria-desc">
                <h5 class="card-title">${galeria.nombre}</h5>
                <p class="card-text">${galeria.descripcion}</p>
              </div>
            </div>
        `;
        contenedor.appendChild(tarjeta);
        await timer(200);
      }
    }
    
    async function verAlbum(id){
      console.log(id);
      // $.ajax({
      //     url: "@Url.Action("_VerAlbum")",
      //     type: "get",
      //     data: { "id": id },
      //     success: function (data) {
      //         //Do Something
      //         $("#modalAlbum").html(data);
      //                 modal = new bootstrap.Modal(document.getElementById('modalVerAlbum'));
      //                 modal.show();
      //     },
      //     error: function (xhr) {
      //         //Do Something to handle error
      //     }
      // });
      //
      const iframe = document.getElementById('iframeVerAlbum');
      iframe.src = "about:blank";
       iframe.src = "@Url.Action("_VerAlbum")?id=" + id;
      
      // fetch("@Url.Action("_VerAlbum")?id=" + id)
      // .then(response => response.text())
      // .then(html => {
      //   var parser = new DOMParser();
      //   var doc = parser.parseFromString(html, 'text/html');
      //   //document.getElementById('modalAlbum').appendChild(doc);
      // });
    }

  </script>
}
