@model CambioPasswordViewModel

@{
    ViewBag.Title = "Cambiar contraseña";
}

<div class="container p-4">
    <div class="row justify-content-center animate__animated animate__fadeIn animate__faster">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6 card">
            <form class="card-body" asp-action="ChangePassword" method="POST">
                <h3>Cambio de contraseña</h3>
                <p>Escribe tu contraseña actual y la nueva contraseña que deseas utilizar para acceder al sistema.</p>
                <div class="mb-3">
                    <div class="form-floating">
                        <input asp-for="Email" class="form-control display-3" placeholder="Email" value="@ViewData["Email"]" readonly>
                        <label asp-for="Email"><i class="fa-solid fa-lock mx-2"></i>Email</label>
                    </div>
                    <small>
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </small>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <input asp-for="OldPassword"class="form-control display-3" placeholder="Contraseña">
                        <label asp-for="OldPassword"><i class="fa-solid fa-lock mx-2"></i>Contraseña actual</label>
                    </div>
                    <small>
                        <span class="text-danger" asp-validation-for="OldPassword"></span>
                    </small>
                </div>

                <div class="mb-3">
                    <div class="form-floating">
                        <input asp-for="NewPassword" class="form-control display-3" placeholder="Contraseña">
                        <label asp-for="NewPassword"><i class="fa-solid fa-lock mx-2"></i>Nueva contraseña</label>
                    </div>
                    <small>
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </small>
                </div>

                <div class="mb-3">
                    <div class="form-floating">
                        <input asp-for="ConfirmNewPassword" class="form-control display-3" placeholder="Contraseña">
                        <label asp-for="ConfirmNewPassword"><i class="fa-solid fa-lock mx-2"></i>Confirmar nueva contraseña</label>
                    </div>
                    <small>
                        <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                    </small>
                </div>

                <div class="row justify-content-center mb-3">
                    <div class="col-12">
                        <div class="text-danger text-center animate__animated animate__bounceIn">
                            @ViewData["Error"]
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                    </div>
                    <div class="col-10 col-lg-10 mb-3">
                        @* <input type="submit" class="btn btn-primary w-100" value="Iniciar sesión" onclick="clickActionBtn(this)"/> *@
                        <button type="submit" class="btn btn-warning w-100" onclick="clickActionBtn(this)">Realizar cambio</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>