@model Cuestionario

@{
    ViewBag.Title = "Cuestionario de egresado";
    //Layout = "_Layout";
    string modo = (string)ViewData["Modo"];
    string modoBtn = (string)ViewData["ModoBoton"];

    var error = ViewData["Error"] as AvisoCuestionario;
}

<div class="position-fixed start-50 translate-middle w-100 row justify-content-center" style="z-index: 1000;bottom: 0">
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <button class="w-100 btn btn-success rounded-pill shadow px-4 py-2 animate__animated animate__bounceInUp">Registrar<i class="fa-solid fa-check mx-2"></i></button>
    </div>
</div>

<div class="container p-4">
    <div class="col-12 animate__animated animate__fadeIn animate__delay-1s">
        <iframe class="w-100 vh-100" src="https://docs.google.com/forms/d/e/1FAIpQLScvINiMCoetXy5_XZhlcCAC8YNrb5of34RoPy1qs6JXh1zs_g/viewform?embedded=true" onload="resizeIframe(this);" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    </div>
</div>
