@model dynamic

@{
    ViewBag.Title = "Cuestionario de egresado";
    //Layout = "_Layout";
}

<div class="container p-4">
    <div class="col-12 animate__animated animate__fadeIn animate__delay-1s">
        <iframe class="w-100 vh-100" src="https://docs.google.com/forms/d/e/1FAIpQLScvINiMCoetXy5_XZhlcCAC8YNrb5of34RoPy1qs6JXh1zs_g/viewform?embedded=true" onload="resizeIframe(this);" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    </div>
</div>
