@model RegistroEgresadoViewModel

@{
    ViewBag.Title = "Mis datos";
    //Layout = "_Layout";
}

<div class="container m-4">
    <h2>@ViewBag.Title</h2>
</div>

<div class="container p-4">
    <div class="row">
        <div class="col-12">
            <form asp-action="MisDatos" method="POST" class="card">
                <div class="card-body">
                    <h4 class="card-title">Modifique sus datos de egreso</h4>
                    <div class="stackpane container-fluid my-3">
                        <div class="stack-item form-step invisible row justify-content-center animate__animated animate__faster">
                            <div class="col-12 col-md-8 col-lg-7 col-xl-6">
                                <div class="row justify-content-end">
                                    <h5>Datos del egresado</h5>
                                    @* Geńero *@
                                    <div class="col-12 col-md-6">
                                        <div class="form-floating mb-3">
                                            @* <input asp-for="Genero" class="form-control display-3" placeholder="Género"> *@
                                            <select asp-for="idGenero" asp-items="ViewBag.Generos" class="form-select"></select>
                                            <label asp-for="idGenero"><i class="fa-solid fa-genderless mx-2"></i>Género</label>
                                        </div>
                                        <span asp-validation-for="idGenero"></span>
                                    </div>
                                    @* Estado civil *@
                                    <div class="col-12 col-md-6">
                                        <div class="form-floating mb-3">
                                            @* <input asp-for="EstadoCivil" class="form-control" placeholder="Estado civil"> *@
                                            <select asp-for="idEstadoCivil" asp-items="ViewBag.EstadosCiviles" class="form-select"></select>
                                            <label asp-for="idEstadoCivil"><i class="fa-solid fa-heart mx-2"></i>Estado civil</label>
                                        </div>
                                        <span asp-validation-for="idEstadoCivil"></span>
                                    </div>
                                    <h5>Datos de nacimiento</h5>
                                    @* Datos nacimiento *@
                                    <div class="col-12 row m-0 p-0">
                                        @* Fecha de egreso *@
                                        <div class="col-12">
                                            <div class="form-floating mb-3">
                                                <input asp-for="FechaNacimiento" class="form-control display-3" placeholder="Fecha nacimiento">
                                                <label asp-for="FechaNacimiento"><i class="fa-solid fa-calendar-day mx-2"></i>Fecha de nacimiento</label>
                                            </div>
                                            <span asp-validation-for="FechaNacimiento"></span>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input asp-for="PaisNacimiento" type="text" class="form-control" placeholder="Código País">
                                                <label asp-for="PaisNacimiento"><i class="fa-solid fa-earth-africa mx-2"></i>País</label>
                                            </div>
                                            <span asp-validation-for="PaisNacimiento"></span>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input asp-for="EstadoNacimiento" type="text" class="form-control" placeholder="Estado">
                                                <label asp-for="EstadoNacimiento">Estado</label>
                                            </div>
                                            <span asp-validation-for="EstadoNacimiento"></span>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input asp-for="MunicipioNacimiento" type="text" class="form-control" placeholder="Municipio">
                                                <label asp-for="MunicipioNacimiento">Municipio</label>
                                            </div>
                                            <span asp-validation-for="MunicipioNacimiento"></span>
                                        </div>
                                    </div>
                                    <h5>Domicilio</h5>
                                    @* Domicilio *@
                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input asp-for="Domicilio" class="form-control" placeholder="Domicilio">
                                            <label asp-for="Domicilio"><i class="fa-solid fa-location-crosshairs mx-2"></i>Domicilio</label>
                                        </div>
                                        <span asp-validation-for="Domicilio"></span>
                                    </div>
                                    @* Colonia y CP *@
                                    <div class="col-12 row m-0 p-0">
                                        <div class="col-12 col-lg-6">
                                            <div class="form-floating mb-3">
                                                <input asp-for="Colonia" class="form-control" placeholder="Colonia">
                                                <label asp-for="Colonia"><i class="fa-solid fa-road mx-2"></i>Colonia</label>
                                            </div>
                                            <span asp-validation-for="Colonia"></span>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-floating mb-3">
                                                <input asp-for="CodigoPostal" class="form-control" placeholder="Código postal">
                                                <label asp-for="CodigoPostal"><i class="fa-solid fa-envelopes-bulk mx-2"></i>Código postal</label>
                                            </div>
                                            <span asp-validation-for="CodigoPostal"></span>
                                        </div>
                                    </div>
                                    @* País, estado y municipío *@
                                    <div class="col-12 row m-0 p-0">
                                        <div class="col-12 col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input asp-for="Pais" class="form-control" placeholder="Código País">
                                                <label asp-for="Pais"><i class="fa-solid fa-earth-africa mx-2"></i>País</label>
                                            </div>
                                            <span asp-validation-for="Pais"></span>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input asp-for="Estado" class="form-control" placeholder="Estado">
                                                <label asp-for="Estado">Estado</label>
                                            </div>
                                            <span asp-validation-for="Estado"></span>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input asp-for="Municipio" class="form-control" placeholder="Municipio">
                                                <label asp-for="Municipio">Municipio</label>
                                            </div>
                                            <span asp-validation-for="Municipio"></span>
                                        </div>
                                    </div>
                                    @* Telefono *@
                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input asp-for="Telefono" class="form-control" placeholder="Teléfono">
                                            <label asp-for="Telefono"><i class="fa-solid fa-phone mx-2"></i>Teléfono</label>
                                        </div>
                                        <span asp-validation-for="Telefono"></span>
                                    </div>
                                    @* Botón next *@
                                    <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                                        <button type="button" data-step="0" data-stepmode="next" class="stepBtn btn btn-primary w-100">Siguiente<i class="fa-solid fa-angle-right mx-2"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stack-item form-step invisible row justify-content-center animate__animated animate__faster">
                            <div class="col-12 col-md-8 col-lg-7 col-xl-6">
                                <div class="row justify-content-end">
                                    <h5>Datos escolares</h5>
                                    @* No. control *@
                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input asp-for="NoControl" class="form-control display-3" placeholder="Número de control">
                                            <label asp-for="NoControl"><i class="fa-solid fa-id-card mx-2"></i>Número de control</label>
                                        </div>
                                        <span asp-validation-for="NoControl"></span>
                                    </div>
                                    @* Carrera *@
                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            @* <input asp-for="Carrera" class="form-control display-3" placeholder="Carrera"> *@
                                            <select asp-for="idCarrera" asp-items="ViewBag.Carreras" class="form-select"></select>
                                            <label asp-for="idCarrera"><i class="fa-solid fa-graduation-cap mx-2"></i>Carrera</label>
                                        </div>
                                        <span asp-validation-for="idCarrera"></span>
                                    </div>
                                    @* Fecha de inicio *@
                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input asp-for="FechaInicio" class="form-control display-3" placeholder="Fecha de egreso">
                                            <label asp-for="FechaInicio"><i class="fa-solid fa-calendar-day mx-2"></i>Fecha de inicio de carrera</label>
                                        </div>
                                        <span asp-validation-for="FechaInicio"></span>
                                    </div>
                                    @* Fecha de egreso *@
                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input asp-for="FechaEgreso" class="form-control display-3" placeholder="Fecha de egreso">
                                            <label asp-for="FechaEgreso"><i class="fa-solid fa-calendar-day mx-2"></i>Fecha de egreso</label>
                                        </div>
                                        <span asp-validation-for="FechaEgreso"></span>
                                    </div>
                                    @* Botón volver *@
                                    <div class="col-6 col-md-5 col-lg-5 col-xl-4">
                                        <button type="button" data-step="1" data-stepmode="prev" class="stepBtn btn btn-secondary w-100"><i class="fa-solid fa-chevron-left mx-2"></i>Volver</button>
                                    </div>
                                    <div class="col-6 col-md-5 col-lg-5 col-xl-4">
                                        <button type="submit" class="btn btn-primary w-100" onclick="resizeStacks(); clickActionBtn(this);">Guardar<i class="fa-solid fa-floppy-disk mx-2"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/registroEmpleador.js"></script>
<script src="~/js/redimensionarStacks.js"></script>