@{
    ViewBag.Title = "Bolsa de trabajo";
}

<div class="container border mt-4 p-4">
    <h2>Bolsa de trabajo</h2>
    <div class="container">
        <p>
            La bolsa de trabajo consiste en proporcionar un listado de todas las vacantes que las empresas / empleadores ofrecen a los egresados del <strong>Instituto Tecnológico de Cuautla</strong>, con el fin de tener de brindar apoyo a los estudiantes recien graduados.<br/>
            Cada una de las vacantes proporcinan los requerimientos que el postulante debe poseer, además de mostrar las funciones que realizará en el empleo.<br/>
        </p>
    </div>
    <div class="row">
        <div class="col-12 mb-3 d-flex justify-content-center align-items-center">
            <div class="form-floating w-50">
                <input type="text" class="form-control" id="busqueda" name="busqueda" placeholder="Buscar" data-tabla="tablaEmpleadores">
                <label for="busqueda"><i class="fa-solid fa-magnifying-glass mx-2"></i>Buscar vacantes</label>
            </div>
            <a class="text-primary text-decoration-none manita" onclick='borrarFiltros()'><i class="fa-solid fa-trash mx-2"></i>Borrar filtros</a>
        </div>
        <div id="vacantes" data-url="@Url.Action("GetVacantes")"></div>
    </div>
    <div id="contenedorModal"></div>
</div>

@section Scripts
{
    <script>
            let order = "";
            let modalVacante;
            
            window.addEventListener('DOMContentLoaded', (event) => {
                actualizarTabla("vacantes", 1);
                
                document.getElementById("busqueda").addEventListener('input' , evt => {
                    actualizarTabla("vacantes", 1, order);
                });
            });
    
            function actualizarTabla(idTabla, pagina = 1, ordenTabla = null){
        
                const orden = ordenTabla === null ? order : ordenTabla;
                order = orden;
                const busqueda = document.getElementById("busqueda").value;
                const filtroActual = "@ViewData["Busqueda"]";
        
                const cont = document.getElementById(idTabla);
                const action = cont.dataset.url;
                const url = action + "?" + `ordenTabla=${orden}&busqueda=${busqueda}&filtroActual=${filtroActual}&pagina=${pagina}`;
        
                cont.innerHTML = '<div class="col-12 p-4 d-flex justify-content-center"><div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div></div>';
                
                fetch(url)
                .then(res => res.text())
                .then(body => {
                    cont.innerHTML = body;
                    parseOfertas();
                });
            }

            function parseOfertas(){
                const ofertas = document.getElementsByClassName("ofertas");
                for (let i = 0; i < ofertas.length; i++){
                    const oferta = ofertas[i];
                    const ofertasAr = JSON.parse(oferta.dataset.datos);
                    oferta.innerHTML += ofertasAr.join(', ');
                }
            }
            
            function parseFields(){
                const parseables = document.getElementsByClassName("parseable");
                for (let i = 0; i < parseables.length; i++){
                    const parseable = parseables[i];
                    const obj = JSON.parse(parseable.dataset.datos);
                    console.log(obj);
                }
            }
            
            function verDetalles(vacante){
                const url = vacante.dataset.url;
                fetch(url)
                .then(body => body.text())
                .then(html => {
                    contenedorModal.innerHTML = html;
                    
                    const funcs = document.getElementById("detallesFunciones");
                    const funcsAr = JSON.parse(funcs.dataset.datos);
                    funcs.innerHTML += "<li>" + funcsAr.join('</li><li>') + "</li>";
                    
                    const reqs = document.getElementById("detallesRequisitos");
                    const reqssAr = JSON.parse(reqs.dataset.datos);
                    const ar = []
                    reqssAr.forEach(req => ar.push(req.join(": ")));
                    reqs.innerHTML += "<li>" + ar.join('</li><li>') + "</li>";
                    
                    const offers = document.getElementById("detallesOfertas");
                    const offersAr = JSON.parse(offers.dataset.datos);
                    offers.innerHTML += "<li>" + offersAr.join('</li><li>') + "</li>";
                    
                    modalVacante = new bootstrap.Modal(document.getElementById('modalVerDetalles'));
                    modalVacante.show();
                });
                
            }
            
            function borrarFiltros(){
                order = "";
                document.getElementById("busqueda").value = "";
                actualizarTabla("vacantes", 1, order);
            }
    </script>
}
