@model SeguimientoEgresados.Models.ViewModels.RegistroEgresadoViewModel

@{
    ViewBag.Title = "Registro de egresado";
    //Layout = "_Layout";
}

<div class="container p-4">
    <form asp-action="Egresado" method="POST" class="card p-3">
        <div class="card-body">
            <div class="row">
                <h3>Registro de egresado</h3>
                <div class="stackpane container-fluid">
                        @* Datos de acceso *@
                    <div class="stack-item w-100 form-step invisible row justify-content-center animate__animated animate__faster">
                        <div class="col-12 col-md-8 col-lg-7 col-xl-6">
                            <div class="row justify-content-end">
                                <h5>Datos de acceso</h5>
                                @* Email *@
                                <div class="col-12 mb-3">
                                    <div class="form-floating">
                                        <input asp-for="Email" class="form-control display-3" placeholder="Correo electrónico">
                                        <label asp-for="Email"><i class="fa-solid fa-at mx-2"></i>Correo electrónico</label>
                                    </div>
                                    <small><span asp-validation-for="Email" class="text-danger"></span></small>
                                </div>
                                @* Contraseña *@
                                <div class="col-12 mb-3">
                                    <div class="form-floating">
                                        <input asp-for="Password" type="password" class="form-control display-3" placeholder="Contraseña">
                                        <label asp-for="Password"><i class="fa-solid fa-lock mx-2"></i>Contraseña</label>
                                    </div>
                                    <small><span asp-validation-for="Password" class="text-danger"></span></small>
                                </div>
                                @* Confirmar contraseña *@
                                <div class="col-12 mb-3">
                                    <div class="form-floating">
                                        <input asp-for="ConfirmPassword" type="password" class="form-control display-3" placeholder="Confirmar contraseña">
                                        <label asp-for="ConfirmPassword"><i class="fa-solid fa-lock mx-2"></i>Confirmar contraseña</label>
                                    </div>
                                    <small><span asp-validation-for="ConfirmPassword" class="text-danger"></span></small>
                                </div>
                                @* Botón next *@
                                <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                                    <button type="button" data-step="0" data-stepmode="next" class="stepBtn btn btn-primary w-100">Siguiente<i class="fa-solid fa-angle-right mx-2"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="stack-item form-step invisible row justify-content-center animate__animated animate__faster">
                        <div class="col-12 col-md-8 col-lg-7 col-xl-6">
                            <div class="row justify-content-end">
                                <h5>Datos del egresado</h5>
                                @* Nombres *@
                                <div class="col-12 col-lg-4 mb-3">
                                    <div class="form-floating">
                                        <input asp-for="Nombres" type="text" class="form-control display-3" placeholder="Nombre completo del representante">
                                        <label asp-for="Nombres"><i class="fa-solid fa-user-tie mx-2"></i>Nombre(s)</label>
                                    </div>
                                    <small><span asp-validation-for="Nombres" class="text-danger"></span></small>
                                </div>
                                @* Apellido paterno *@
                                <div class="col-12 col-md-6 col-lg-4 mb-3">
                                    <div class="form-floating">
                                        <input asp-for="ApellidoPaterno" type="text" class="form-control display-3" placeholder="Apellido 1">
                                        <label asp-for="ApellidoPaterno"><i class="fa-solid fa-user-tie mx-2"></i>A. paterno</label>
                                    </div>
                                    <small><span asp-validation-for="ApellidoPaterno" class="text-danger"></span></small>
                                </div>
                                @* Apellido materno *@
                                <div class="col-12 col-md-6 col-lg-4 mb-3">
                                    <div class="form-floating">
                                        <input asp-for="ApellidoMaterno" type="text" class="form-control display-3" placeholder="Apellido 2">
                                        <label asp-for="ApellidoMaterno"><i class="fa-solid fa-user-tie mx-2"></i>A. materno</label>
                                    </div>
                                    <small><span asp-validation-for="ApellidoMaterno" class="text-danger"></span></small>
                                </div>
                                @* Geńero *@
                                <div class="col-12 col-md-6 mb-3">
                                    <div class="form-floating">
                                        @* <input asp-for="Genero" class="form-control display-3" placeholder="Género"> *@
                                        <select asp-for="idGenero" asp-items="ViewBag.Generos" class="form-select"></select>
                                        <label asp-for="idGenero"><i class="fa-solid fa-genderless mx-2"></i>Género</label>
                                    </div>
                                    <small><span asp-validation-for="idGenero" class="text-danger"></span></small>
                                </div>
                                @* Estado civil *@
                                <div class="col-12 col-md-6 mb-3">
                                    <div class="form-floating">
                                        @* <input asp-for="EstadoCivil" class="form-control" placeholder="Estado civil"> *@
                                        <select asp-for="idEstadoCivil" asp-items="ViewBag.EstadosCiviles" class="form-select"></select>
                                        <label asp-for="idEstadoCivil"><i class="fa-solid fa-heart mx-2"></i>Estado civil</label>
                                    </div>
                                    <small><span asp-validation-for="idEstadoCivil" class="text-danger"></span></small>
                                </div>
                                <h5>Datos de nacimiento</h5>
                                @* Datos nacimiento *@
                                <div class="col-12 row m-0 p-0">
                                    @* Fecha de egreso *@
                                    <div class="col-12 mb-3">
                                        <div class="form-floating">
                                            <input asp-for="FechaNacimiento" class="form-control display-3" placeholder="Fecha nacimiento">
                                            <label asp-for="FechaNacimiento"><i class="fa-solid fa-calendar-day mx-2"></i>Fecha de nacimiento</label>
                                        </div>
                                        <small><span asp-validation-for="FechaNacimiento" class="text-danger"></span></small>
                                    </div>
                                    <div class="col-12 col-lg-4 mb-3">
                                        <div class="form-floating">
                                            <input asp-for="PaisNacimiento" type="text" class="form-control" placeholder="Código País">
                                            <label asp-for="PaisNacimiento"><i class="fa-solid fa-earth-africa mx-2"></i>País</label>
                                        </div>
                                        <small><span asp-validation-for="PaisNacimiento" class="text-danger"></span></small>
                                    </div>
                                    <div class="col-12 col-lg-4 mb-3">
                                        <div class="form-floating">
                                            <input asp-for="EstadoNacimiento" type="text" class="form-control" placeholder="Estado">
                                            <label asp-for="EstadoNacimiento">Estado</label>
                                        </div>
                                        <small><span asp-validation-for="EstadoNacimiento" class="text-danger"></span></small>
                                    </div>
                                    <div class="col-12 col-lg-4 mb-3">
                                        <div class="form-floating">
                                            <input asp-for="MunicipioNacimiento" type="text" class="form-control" placeholder="Municipio">
                                            <label asp-for="MunicipioNacimiento">Municipio</label>
                                        </div>
                                        <small><span asp-validation-for="MunicipioNacimiento" class="text-danger"></span></small>
                                    </div>
                                </div>
                                <h5>Domicilio</h5>
                                @* Domicilio *@
                                <div class="col-12 mb-3">
                                    <div class="form-floating">
                                        <input asp-for="Domicilio" class="form-control" placeholder="Domicilio">
                                        <label asp-for="Domicilio"><i class="fa-solid fa-location-crosshairs mx-2"></i>Domicilio</label>
                                    </div>
                                    <small><span asp-validation-for="Domicilio" class="text-danger"></span></small>
                                </div>
                                @* Colonia y CP *@
                                <div class="col-12 row m-0 p-0">
                                    <div class="col-12 col-lg-6 mb-3">
                                        <div class="form-floating">
                                            <input asp-for="Colonia" class="form-control" placeholder="Colonia">
                                            <label asp-for="Colonia"><i class="fa-solid fa-road mx-2"></i>Colonia</label>
                                        </div>
                                        <small><span asp-validation-for="Colonia" class="text-danger"></span></small>
                                    </div>
                                    <div class="col-12 col-lg-6 mb-3">
                                        <div class="form-floating">
                                            <input asp-for="CodigoPostal" class="form-control" placeholder="Código postal">
                                            <label asp-for="CodigoPostal"><i class="fa-solid fa-envelopes-bulk mx-2"></i>Código postal</label>
                                        </div>
                                        <small><span asp-validation-for="CodigoPostal" class="text-danger"></span></small>
                                    </div>
                                </div>
                                @* País, estado y municipío *@
                                <div class="col-12 row m-0 p-0">
                                    <div class="col-12 col-lg-4 mb-3">
                                        <div class="form-floating">
                                            <input asp-for="Pais" class="form-control" placeholder="Código País">
                                            <label asp-for="Pais"><i class="fa-solid fa-earth-africa mx-2"></i>País</label>
                                        </div>
                                        <small><span asp-validation-for="Pais" class="text-danger"></span></small>
                                    </div>
                                    <div class="col-12 col-lg-4 mb-3">
                                        <div class="form-floating">
                                            <input asp-for="Estado" class="form-control" placeholder="Estado">
                                            <label asp-for="Estado">Estado</label>
                                        </div>
                                        <small><span asp-validation-for="Estado" class="text-danger"></span></small>
                                    </div>
                                    <div class="col-12 col-lg-4 mb-3">
                                        <div class="form-floating">
                                            <input asp-for="Municipio" class="form-control" placeholder="Municipio">
                                            <label asp-for="Municipio">Municipio</label>
                                        </div>
                                        <small><span asp-validation-for="Municipio" class="text-danger"></span></small>
                                    </div>
                                </div>
                                @* Telefono *@
                                <div class="col-12 mb-3">
                                    <div class="form-floating">
                                        <input asp-for="Telefono" class="form-control" placeholder="Teléfono">
                                        <label asp-for="Telefono"><i class="fa-solid fa-phone mx-2"></i>Teléfono</label>
                                    </div>
                                    <small><span asp-validation-for="Telefono" class="text-danger"></span></small>
                                </div>
                                @* Botón volver *@
                                <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                                    <button type="button" data-step="1" data-stepmode="prev" class="stepBtn btn btn-secondary w-100"><i class="fa-solid fa-chevron-left mx-2"></i>Volver</button>
                                </div>
                                @* Botón next *@
                                <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                                    <button type="button" data-step="1" data-stepmode="next" class="stepBtn btn btn-primary w-100">Siguiente<i class="fa-solid fa-angle-right mx-2"></i></button>
                                </div>
                                @* <div class="col-6 col-md-5 col-lg-5 col-xl-4"> *@
                                @*     <button type="submit" class="btn btn-success w-100" onclick="resizeStacks(); clickActionBtn(this);">Registrarse<i class="fa-solid fa-angle-right mx-2"></i></button> *@
                                @* </div> *@
                            </div>
                        </div>
                    </div>
                    <div class="stack-item form-step invisible row justify-content-center animate__animated animate__faster">
                        <div class="col-12 col-md-8 col-lg-7 col-xl-6">
                            <div class="row justify-content-end">
                                <h5>Datos escolares</h5>
                                @* No. control *@
                                <div class="col-12 mb-3">
                                    <div class="form-floating">
                                        <input asp-for="NoControl" class="form-control display-3" placeholder="Número de control">
                                        <label asp-for="NoControl"><i class="fa-solid fa-id-card mx-2"></i>Número de control</label>
                                    </div>
                                    <small><span asp-validation-for="NoControl" class="text-danger"></span></small>
                                </div>
                                @* Carrera *@
                                <div class="col-12 mb-3">
                                    <div class="form-floating">
                                        @* <input asp-for="Carrera" class="form-control display-3" placeholder="Carrera"> *@
                                        <select asp-for="idCarrera" asp-items="ViewBag.Carreras" class="form-select"></select>
                                        <label asp-for="idCarrera"><i class="fa-solid fa-graduation-cap mx-2"></i>Carrera</label>
                                    </div>
                                    <small><span asp-validation-for="idCarrera" class="text-danger"></span></small>
                                </div>
                                @* Fecha de egreso *@
                                <div class="col-12 mb-3">
                                    <div class="form-floating">
                                        <input asp-for="FechaEgreso" class="form-control display-3" placeholder="Fecha de egreso">
                                        <label asp-for="FechaEgreso"><i class="fa-solid fa-calendar-day mx-2"></i>Fecha de egreso</label>
                                    </div>
                                    <small><span asp-validation-for="FechaEgreso" class="text-danger"></span></small>
                                </div>
                                @* Botón volver *@
                                <div class="col-6 col-md-5 col-lg-5 col-xl-4">
                                    <button type="button" data-step="2" data-stepmode="prev" class="stepBtn btn btn-secondary w-100"><i class="fa-solid fa-chevron-left mx-2"></i>Volver</button>
                                </div>
                                <div class="col-6 col-md-5 col-lg-5 col-xl-4">
                                    <button type="submit" class="btn btn-success w-100" onclick="resizeStacks(); clickActionBtn(this);">Registrarse<i class="fa-solid fa-angle-up mx-2"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <script src="~/js/registroEmpleador.js"></script>
    <script src="~/js/redimensionarStacks.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
