@{
    ViewBag.Title = "Registro";
    //Layout = "_Layout";
}

<div class="main-container container d-flex">
    <div id="contenido-form" class="w-100 row justify-content-center p-4 animate__animated animate__fadeIn animate__faster">
        <div class="col-10 col-md-6 col-lg-4 card m-auto">
            <div id="main-view" class="card-body">
                <form asp-action="Index" method="POST">
                    <div class="container">
                        <div class="row justify-content-end">
                            <h3 class="mb-3">Selecciona tu ocupación</h3>
                            <div class="form-check form-check-inline mb-2">
                                <input class="form-check-input" type="radio" name="tipo" id="opcEgresado" value="Egresado">
                                <label class="form-check-label" for="opcEgresado">Egresado</label>
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                <input class="form-check-input" type="radio" name="tipo" id="opcEmpleador" value="Empleador">
                                <label class="form-check-label" for="opcEmpleador">Empleador</label>
                            </div>
                            <button id="btn-elegir-tipo" type="submit" class="btn btn-primary w-50" onclick="clickActionBtn(this)">Siguiente</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // const btn = document.getElementById("btn-elegir-tipo");
    // btn.addEventListener("click", () => {
    //     document.getElementById("contenido-form").classList.add("animate__animated", "animate__faster", "animate__zoomOut");
    // });
    //
    // const actionBtns = document.getElementsByClassName("actionBtn");
    //
    // for (let i = 0; i < actionBtns.length; i++) {
    //     const actionBtn = actionBtns[i];
    //     actionBtn.addEventListener("click", (evt) => {
    //
    //         return true;
    //     });
    // }
    
</script>

@section Scripts{
    <script>
            // window.addEventListener('DOMContentLoaded', (event) => {
            // document.getElementById("main-view").scrollIntoView({block:"center"});
            // });
    </script>
}
