html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.bg-primary {
  background-color: #1A386A;
  color: white;
}

.btn-primary {
  background-color: #1A386A;
  color: white;
}

.text-primary {
  color: #1A386A;
}

.border-primary{
  border-color: #1A386A;
}

.fotorama__thumb-border{
  /*border-color: #1A386A;*/
  /*background-color: #1A386A;*/
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /*margin-bottom: 60px;*/
  
  /*scrollbar-gutter: stable;*/
  overflow-y: scroll;
  /*overflow-x: hidden;*/
  /*overflow: hidden;*/
}

.stackpane{
  /*margin: auto;*/
  position: relative;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  /*overflow-y: scroll;*/
  /*overflow-x: hidden;*/
  padding: 0;
  overflow: hidden;
}

.stack-item{
  position: absolute;
}

/*!* not active *!*/
/*.nav-pills .pill-1 .nav-link:not(.active) {*/
/*  background-color: rgba(255, 0, 0, 0.5);*/
/*}*/

/*.nav-pills .pill-2 .nav-link:not(.active) {*/
/*  background-color: rgba(0, 250, 0, 0.5);*/
/*}*/

/*.nav-pills .pill-3 .nav-link:not(.active) {*/
/*  background-color: rgba(0, 0, 250, 0.5);*/
/*  color: white;*/
/*}*/


/*!* active (faded) *!*/
/*.nav-pills .pill-1 .nav-link {*/
/*  background-color: rgba(255, 0, 0, 0.2);*/
/*  color: white;*/
/*}*/

/*.nav-pills .pill-2 .nav-link {*/
/*  background-color: rgba(0, 250, 0, 0.2);*/
/*}*/

/*.nav-pills .pill-3 .nav-link {*/
/*  background-color: rgba(0, 0, 250, 0.2);*/
/*  color: white;*/
/*}*/

/*.nav-pills .nav-link:not(.active) {*/
/*  !*background-color: #fff;*!*/
/*  !*background-color: rgba(255, 255, 255, 0.25);*!*/
/*  !*border-radius: 0;*!*/
/*  border-radius: 0;*/
/*  color: white;*/
/*}*/

.bannersLogos{
  width: 15%;
}

#bannerLogos{
  transition: opacity .3s;
}

.nav-pills .nav-link {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 0;
  color: white;
}

/* Not active*/
.nav-pills .nav-link:not(.activeSec) {
  background-color: transparent;
  border-radius: 0;
  color: white;
}

.nav-pills .nav-link:is(.activeSec) {
  text-decoration: underline;
}

.nav-pills .nav-link:hover {
  /*background-color: rgba(0, 255, 0, 0.5);*/
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0;
  color: white;
}

.nav-link:hover{
  text-decoration: underline;
}

.fixed-top {
  /*top: -10px;*/
  /*transform: translateY(10px);*/
  /*transition: transform 0.3s;*/
}

.manita{
  cursor: pointer;
}

.card-shadow{
  /*box-shadow: 1px 12px 12px -4px rgba(0,0,0,0.46);*/
  /*-webkit-box-shadow: 1px 12px 12px -4px rgba(0,0,0,0.46);*/
  /*-moz-box-shadow: 1px 12px 12px -4px rgba(0,0,0,0.46);*/

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.miniatura-galeria{
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.miniatura-galeria-desc{
  height: 92px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.empleador{
  /*height: 192px;*/
}

.empleador-desc{
  height: 64px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.miniatura-emp{
  object-fit: contain;
  width: 100%;
  height: 190px;
}

.content-overflow{
  
}

.content-overflow:before {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(transparent 150px, white);
}

.miniatura-galeria-desc::-webkit-scrollbar {
  display: none;
}

.ver-galeria{
  transform: translate(0);
  transition: all 0.2s ease;
}

.ver-galeria:hover{
  transform: translate(0px, -8px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-validation-error{
  
}

.field-validation-error{
  
}

.tarjeta-inicio{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /*height: 256px;*/
    /*aspect-ratio: 1 /1;*/
}

.icono-tarjeta{
  background-color: #2D4059; width: 64px; height: 64px
}

.separador-inicio {
  height: 328px;
}

.bg-claro-primario{
  background-color: rgba(26, 56, 106, 0.31);
}

.main-container
{
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.img-fluid{
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.cont-img{
  position: relative;
}

.cont-img-c{
  position: absolute;
}

@media (max-width: 765px) {
  .cont-img{
    position: relative;
  }

  .cont-img-c{
    position: absolute;
    z-index: -100;
    opacity: 0.1;
    display: none;
  }
}

.main-login{
  /*background: url("../images/login.jpg") no-repeat center center fixed;*/
  background: url("../images/inicioHD.jpg") no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sombra-1{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.miniatura-carrusel{
  object-fit: contain;
  width: 100%;
  height: 320px;
}

.context {
  width: 100%;
  position: absolute;
  top:50vh;

}

.context h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
}


.area{
  position: fixed;
  width: 100%;
  height:100vh;
  z-index: -100;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  z-index: -10;
  position: relative;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  color: rgba(26, 56, 106, 0.35);
  /*background: rgba(26, 56, 106, 0.2);*/
  animation: animate 25s linear infinite;
  bottom: -700px;

}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

