html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.bg-primary {
  background-color: #1A386A;
  color: white;
}

.btn-primary {
  background-color: #1A386A;
  color: white;
}

.text-primary {
  color: #1A386A;
}

.border-primary{
  border-color: #1A386A;
}

.fotorama__thumb-border{
  /*border-color: #1A386A;*/
  /*background-color: #1A386A;*/
}

html {
  position: relative;
  min-height: 100%;
  /*scrollbar-gutter: stable;*/
}

body {
  margin-bottom: 60px;
  
  /*overflow-y: scroll;*/
  /*overflow-x: hidden;*/
  /*overflow: hidden;*/
}

.stackpane{
  /*margin: auto;*/
  position: relative;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  /*overflow-y: scroll;*/
  /*overflow-x: hidden;*/
  padding: 0;
  overflow: hidden;
}

.stack-item{
  position: absolute;
}

/*!* not active *!*/
/*.nav-pills .pill-1 .nav-link:not(.active) {*/
/*  background-color: rgba(255, 0, 0, 0.5);*/
/*}*/

/*.nav-pills .pill-2 .nav-link:not(.active) {*/
/*  background-color: rgba(0, 250, 0, 0.5);*/
/*}*/

/*.nav-pills .pill-3 .nav-link:not(.active) {*/
/*  background-color: rgba(0, 0, 250, 0.5);*/
/*  color: white;*/
/*}*/


/*!* active (faded) *!*/
/*.nav-pills .pill-1 .nav-link {*/
/*  background-color: rgba(255, 0, 0, 0.2);*/
/*  color: white;*/
/*}*/

/*.nav-pills .pill-2 .nav-link {*/
/*  background-color: rgba(0, 250, 0, 0.2);*/
/*}*/

/*.nav-pills .pill-3 .nav-link {*/
/*  background-color: rgba(0, 0, 250, 0.2);*/
/*  color: white;*/
/*}*/

/*.nav-pills .nav-link:not(.active) {*/
/*  !*background-color: #fff;*!*/
/*  !*background-color: rgba(255, 255, 255, 0.25);*!*/
/*  !*border-radius: 0;*!*/
/*  border-radius: 0;*/
/*  color: white;*/
/*}*/

.bannersLogos{
  width: 15%;
}

#bannerLogos{
  transition: opacity .3s;
}

.nav-pills .nav-link {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 0;
  color: white;
}

/* Not active*/
.nav-pills .nav-link:not(.activeSec) {
  background-color: transparent;
  border-radius: 0;
  color: white;
}

.nav-pills .nav-link:is(.activeSec) {
  text-decoration: underline;
}

.nav-pills .nav-link:hover {
  /*background-color: rgba(0, 255, 0, 0.5);*/
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0;
  color: white;
}

.nav-link:hover{
  text-decoration: underline;
}

.fixed-top {
  /*top: -10px;*/
  /*transform: translateY(10px);*/
  /*transition: transform 0.3s;*/
}

.manita{
  cursor: pointer;
}

.card-shadow{
  /*box-shadow: 1px 12px 12px -4px rgba(0,0,0,0.46);*/
  /*-webkit-box-shadow: 1px 12px 12px -4px rgba(0,0,0,0.46);*/
  /*-moz-box-shadow: 1px 12px 12px -4px rgba(0,0,0,0.46);*/

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.miniatura-galeria{
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.miniatura-galeria-desc{
  height: 92px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.empleador{
  /*height: 192px;*/
}

.empleador-desc{
  height: 64px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.miniatura-emp{
  object-fit: contain;
  width: 100%;
  height: 190px;
}

.content-overflow{
  
}

.content-overflow:before {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(transparent 150px, white);
}

.miniatura-galeria-desc::-webkit-scrollbar {
  display: none;
}

.ver-galeria{
  transform: translate(0);
  transition: all 0.2s ease;
}

.ver-galeria:hover{
  transform: translate(0px, -8px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-validation-error{
  
}

.field-validation-error{
  
}

.tarjeta-inicio{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 256px;
}

.icono-tarjeta{
  background-color: #2D4059; width: 64px; height: 64px
}

