<!-- Modal -->
<div class="modal fade" id="modalReporte" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div id="reportForm" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-clock me-2"></i>Espera de reporte</h5>
            </div>
            <div class="modal-body">
                <p>Los visitantes sólo pueden realizar un reporte por sección del sitio web, debe esperar un tiempo para poder volver a reportar en esta sección.</p>
                <p>Gracias por su comprensión.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa-solid fa-thumbs-up me-2"></i>Entendido</button>
            </div>
        </div>
    </div>
</div>