@using SeguimientoEgresados.Controllers
@model Usuario

@{
    //Layout = "_Layout";
    ViewData["Title"] = "Página de inicio";
}
<section class="container p-4 mt-4">
    <article class="row">
        <div class="col-md-8">
            <h1>Seguimiento de egresados</h1>
            <p>Instituto Tecnológico de México</p>
            <p>Campus Cuautla</p>
        </div>
        <div class="col-md-5">
            <button class="btn btn-primary">Unirse al programa</button>
            <button class="btn btn-outline-secondary">Más información</button>
        </div>
    </article>
    <article class="row justify-content-center">
        <div class="col-md-3">
            <div class="tarjeta-inicio container rounded p-4">
                <div class="row justify-content-center">
                    <div class="icono-tarjeta col-12 mb-3 rounded-circle text-white d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-graduation-cap fa-xl"></i>
                    </div>
                    <h3>Egresados</h3>
                    <p>
                        Estudiante que ha concluido
                        sus estudios y posee un 
                        título
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="tarjeta-inicio container rounded p-4">
                <div class="row justify-content-center">
                    <div class="icono-tarjeta col-12 mb-3 rounded-circle text-white d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-briefcase fa-xl"></i>
                    </div>
                    <h3>Empleador</h3>
                    <p>
                        Persona que pueda proporcionar
                        información acerca de su empresa
                        y empleos disponibles
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="tarjeta-inicio container rounded p-4">
                <div class="row justify-content-center">
                    <div class="icono-tarjeta col-12 mb-3 rounded-circle text-white d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-sack-dollar fa-xl"></i>
                    </div>
                    <h3>Bolsa de trabajo</h3>
                    <p>
                        Compilación de empleos
                        proporcionados por los empleadores
                    </p>
                </div>
            </div>
        </div>
    </article>
</section>