@model IEnumerable<Egresado>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Número de control</th>
            <th scope="col">Fecha de egreso</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Egresado e in Model)
        {
            <tr>
                <td>@e.NControl</td>
                <td>@e.FechaEgreso</td>
            </tr>
        }
    </tbody>
</table>