@model Reporte

<!-- Modal -->
<div class="modal fade" id="modalVerReporte" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">@Model.Titulo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @Model.Descripcion
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Revisado<i class="fa-solid fa-clipboard-check ms-2"></i></button>
      </div>
    </div>
  </div>
</div>

