
<div class="container-fluid animate__animated animate__fadeIn">
    <form>
        <div class="form-actions no-color">
            <p>
                Buscar: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Lista completa</a>
            </p>
        </div>
    </form>
    
    <div id="contenido" data-url="@Url.Action("GetEgresados")"></div>
</div>

<script>

</script>