@model IEnumerable<Empresa>

<div class="container-fluid animate__animated animate__fadeIn">
    <form>
        <div class="form-actions no-color">
            <p>
                Buscar: <input id="busqueda" type="text" name="busqueda" value="@ViewData["Busqueda"]" />
                <input type="button" value="Search" class="btn btn-default" onclick='buscar()'/> |
                <a asp-action="Index">Listar todos</a>
            </p>
        </div>
    </form>

    <div id="contenido" data-url="@Url.Action("GetEmpleadores")"></div>
</div>
