@model IEnumerable<Empresa>

<div class="container-fluid animate__animated animate__fadeIn">
    <div class="row justify-content-center">
        <div class="col-12 mb-3 d-flex justify-content-center align-items-center">
            <div class="form-floating w-50">
                <input type="text" class="form-control" id="busqueda" name="busqueda" placeholder="Buscar" data-tabla="tablaEmpleadores">
                <label for="floatingInput"><i class="fa-solid fa-magnifying-glass"></i></label>
            </div>
            <a class="text-primary text-decoration-none manita" onclick='actualizarTabla("tablaEmpleadores", 1)'><i class="fa-solid fa-trash mx-2"></i>Borrar filtros</a>
        </div>
        <div class="col-12">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="verificados" onchange='actualizarTabla("tablaEmpleadores", 1)'>
                <label class="form-check-label" for="flexSwitchCheckDefault">Solo no verificados</label>
            </div>
        </div>
        <div id="tablaEmpleadores" class="to-load table-responsive row col-12 justify-content-center" data-url="@Url.Action("GetEmpleadores")"></div>
        @* <div id="tablaEmpleadoresNV" class="to-load table-responsive row col-12 justify-content-center" data-url="@Url.Action("_GetEmpleadoresNoVerificados")"></div> *@
    </div>
</div>

<div id="modalEmpleador"></div>
