@model IEnumerable<Empresa>

@{
    ViewBag.Title = "Empleadores";
}


<div class="container-fluid animate__animated animate__fadeIn">
    <form>
        <div class="form-actions no-color">
            <p>
                Buscar: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="button" value="Search" class="btn btn-default" onclick='actualizarTabla("@Url.Action("GetEmpleadores")")'/> |
                <a asp-action="Index">Listar todos</a>
            </p>
        </div>
    </form>

    <div id="contenido" data-url="@Url.Action("GetEmpleadores")"></div>
</div>
