<div class="container-fluid animate__animated animate__fadeIn">
    <h3>General</h3>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <label for="" class="form-label">Periodo del cuestionario de egresados</label>
            <div class="input-group mb-3">
                <span class="input-group-text">Cada</span>
                <input type="number" class="form-control" placeholder="6">
                <span class="input-group-text">meses</span>
            </div>
            <button class="btn btn-primary"><i class="fa-solid fa-floppy-disk me-2"></i>Guardar</button>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <label for="" class="form-label">Periodo del cuestionario de empeladores</label>
            <div class="input-group mb-3">
                <span class="input-group-text">Cada</span>
                <input type="number" class="form-control" placeholder="6">
                <span class="input-group-text">meses</span>
            </div>
            <button class="btn btn-primary"><i class="fa-solid fa-floppy-disk me-2"></i>Guardar</button>
        </div>
    </div>
</div>
