@model dynamic

@{
    ViewBag.Title = "Reportes";
}
<div class="container-fluid animate__animated animate__fadeIn">
    <div class="row justify-content-center text-center">
        <h3>Fallos, quejas y sugerencias</h3>
        <hr class="invisible"/>
        <div class="col-12 mb-3 d-flex justify-content-start align-items-center">
            @* <i class="manita fa-solid fa-arrows-rotate me-2 text-primary" onclick='actualizarTabla("tablaReportes")'></i> *@
        </div>
        <div id="tablaReportes" class="to-load table-responsive row col-12 justify-content-center" data-url="@Url.Action("GetReportes")"></div>
    </div>
</div>

<div id="contModalVerReporte"></div>