
@{
    ViewData["Title"] = "Egresados";
}

<div class="container border rounded my-4 p-4">
    <h2>Egresados</h2>
    <div class="row justify-content-center animate__animated animate__faster animate__fadeIn">
        <div class="col-12 col-md-10 col-lg-8 my-4">
            <div id="carouselExampleCaptions" class="carousel slide bg-dark sombra-1 rounded" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="~/images/inicio.jpg" class="d-block miniatura-carrusel" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="~/images/login.jpg" class="d-block miniatura-carrusel" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="~/images/Mancha.png" class="d-block miniatura-carrusel" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon d-none" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                  <i class="fa-solid fa-angle-left fa-xl"></i>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon d-none" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                  <i class="fa-solid fa-angle-right fa-xl"></i>
              </button>
            </div>
        </div>
    </div>
    <div class="container">
        <p>
            Graduado o egresado es aquel individuo que ha concluido sus estudios y ha obtenido un título o una graduación académica, normalmente de rango universitario. El significado más preciso de egresar es formarse, y se usa como sinónimo de graduarse, por ello egresado lo es de graduado o formado.<br/>
            En esta sección se muestran los estudiantes egresados del <strong>Instituto Tecnológico de Cuautla</strong> y colaboran dentro del programa de seguimiento de egresados
        </p>
    </div>
    
    <div class="row">
        <div class="col-12 col-md-6 col-lg-8 row mb-2">
            <label for="filtroBusqueda" class="col-1 col-form-label text-end">
                <i class="fa-solid fa-magnifying-glass"></i>
            </label>
            <div class="col-11">
                <input type="text" class="form-control" id="filtroBusqueda" name="filtroBusqueda" placeholder="Buscar">
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fa-solid fa-filter me-2"></i>Filtros
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <form class="accordion-body row justify-content-center">
                            <div class="col-12 row mb-2">
                                <label for="filtroCarrera" class="col-2 col-form-label">Carrera</label>
                                <div class="col-10">
                                    <select class="form-select form-select-sm" name="filtroCarrera" asp-items="ViewBag.carreras"></select>
                                </div>
                            </div>
                            <div class="col-12 row mb-2">
                                <label for="filtroFechaMenor" class="col-2 col-form-label">De:</label>
                                <div class="col-10">
                                    <input type="date" class="form-control form-control-sm" id="filtroFechaMenor" name="filtroFechaMenor">
                                </div>
                            </div>
                            <div class="col-12 row mb-2">
                                <label for="filtroFechaMayor" class="col-2 col-form-label">A:</label>
                                <div class="col-10">
                                    <input type="date" class="form-control form-control-sm" id="filtroFechaMayor" name="filtroFechaMayor">
                                </div>
                            </div>
                            <div class="col-2 p-0">
                                <button type="reset" class="btn btn-outline-danger w-100 p-1 text-center"><i class="fa-solid fa-filter-circle-xmark"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="tablaEgresados" class="row table-responsive" data-url="@Url.Action("_GetEgresados")">
        
    </div>
</div>

@section Scripts
{
    <script>
    
    window.addEventListener('DOMContentLoaded', (event) => {
        actualizarTabla(1);
    });
    
    let order = '';
    
    function actualizarTabla(pagina = 1, ordenTabla = null){

        const orden = ordenTabla === null ? order : ordenTabla;
        order = orden;
        const busqueda = document.getElementById("filtroBusqueda").value;
        const filtroActual = "@ViewData["Busqueda"]";

        const cont = document.getElementById("tablaEgresados");
        const action = cont.dataset.url;
        const url = action + "?" + `ordenTabla=${orden}&busqueda=${busqueda}&filtroActual=${filtroActual}&pagina=${pagina}`;

        cont.classList.remove('table-responsive');
        cont.innerHTML = '<div class="col-12 p-4 d-flex justify-content-center"><div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div></div>';
        
        fetch(url)
        .then(res => res.text())
        .then(body => {
            cont.classList.add('table-responsive');
            cont.innerHTML = body;
        });
    }
    </script>
}

