<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SeguimientoEgresados</title>
    @* <script src="https://kit.fontawesome.com/729264bcfe.js" crossorigin="anonymous"></script> *@
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.1.1-web/css/all.min.css" />
    <script src="~/lib/fontawesome-free-6.1.1-web/js/all.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/jquery-ui-1.13.1/jquery-ui.min.css"/>
    <script src="~/lib/jquery-ui-1.13.1/jquery-ui.min.js"></script>
    
    <link rel="stylesheet" href="~/lib/fotorama-4.6.4/fotorama.css"/>
    <script src="~/lib/fotorama-4.6.4/fotorama.js"></script>
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/SeguimientoEgresados.styles.css" asp-append-version="true"/>
</head>
<body>

<header id="header">
    @await Html.PartialAsync("_Navbar")
</header>

<div class="area">
    <ul class="circles">
        <li><i class="fa-solid fa-graduation-cap fa-8x"></i></li>
        <li><i class="fa-solid fa-briefcase fa-8x"></i></li>
        <li><i class="fa-solid fa-briefcase fa5x"></i></li>
        <li><i class="fa-solid fa-graduation-cap fa-5x"></i></li>
        <li><i class="fa-solid fa-briefcase fa-3x"></i></li>
        <li><i class="fa-solid fa-graduation-cap fa-6x"></i></li>
        <li><i class="fa-solid fa-graduation-cap fa-5x"></i></li>
        <li><i class="fa-solid fa-briefcase fa-4x"></i></li>
        <li><i class="fa-solid fa-graduation-cap fa-3x"></i></li>
        <li><i class="fa-solid fa-briefcase fa-6"></i></li>
    </ul>
</div >

<div class="container-fluid p-0">
    <main role="main" class="">
        @RenderBody()
        <hr/>
    </main>
</div>
@await Html.PartialAsync("VerificarCuestionario")

<footer class="border-top footer p-4" style="background-color: #1A386A">
    <div class="container-fluid text-white">
        <div class="row">
            <div class="col12 col-md-6">
                <h6><i class="fa-solid fa-link me-2"></i>Enlaces</h6>
                <ul class="footer-list">
                    <li><a class="link-light text-decoration-none" asp-area="Egresados" asp-controller="Inicio" asp-action="Index">Egresados</a></li>
                    <li><a class="link-light text-decoration-none" asp-area="Empleadores" asp-controller="Inicio" asp-action="Index">Empleadores</a></li>
                    <li><a class="link-light text-decoration-none" asp-area="BolsaDeTrabajo" asp-controller="Inicio" asp-action="Index">Bolsa de trabajo</a></li>
                    <li><a class="link-light text-decoration-none" asp-area="Galeria" asp-controller="Inicio" asp-action="Index">Galería</a></li>
                    <li><a class="link-light text-decoration-none" asp-area="About" asp-controller="Inicio" asp-action="Index">Acerca de</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <h6><i class="fa-solid fa-location-dot me-2"></i>Dirección</h6>
                <ul class="footer-list">
                    <li>Libramiento Cuautla-Oaxaca S/N</li>
                    <li>Col. Juan Morales</li>
                    <li>C.P. 62826</li>
                    <li>Yecapixtla, Morelos</li>
                </ul>
                <h6><i class="fa-solid fa-phone me-2"></i>Telefonos</h6>
                <ul class="footer-list">
                    <li>7351222242</li>
                    <li>7353536496</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container text-center text-white-50">
        &copy; 2022 - Seguimiento de egresados - Institulo Tecnológico de Cuautla, Tecnológico Nacional de México
    </div>
</footer>

<div class="manita position-absolute bottom-0 end-0 m-4 border-primary position-fixed bg-light rounded rounded-circle sombra-1 d-flex justify-content-center align-items-center animate__animated animate__zoomIn animate__delay-2s" style="height: 48px; width: 48px;">
    <i class="fa-solid fa-bug fa-xl" style="color: #1A386A"></i>
</div>

@* <footer class="footer mt-auto py-3 my-4"> *@
@*   <div class="container"> *@
@*     <ul class="nav justify-content-center border-bottom pb-3 mb-3"> *@
@*       <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li> *@
@*       <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li> *@
@*       <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li> *@
@*       <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li> *@
@*       <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li> *@
@*     </ul> *@
@*   <p class="text-center text-muted">© 2021 Company, Inc</p> *@
@*   </div> *@
@* </footer> *@

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
@await RenderSectionAsync("ViewComponentsScripts", required: false)
</body>
</html>