<ul class="navbar-nav flex-grow-1 align-content-center">
    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Inicio" asp-action="Index">Inicio</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Inicio" asp-action="Index">Mi empresa</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Inicio" asp-action="Index">Publicar empleo</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Inicio" asp-action="Index">Cuestionario</a></li>
</ul>
<form class="form-inline">
    <button class="btn btn-outline-success" type="button" asp-area="" asp-controller="Acceso" asp-action="Index">Main button</button>
</form>