<li class="nav-item"><a asp-area="" asp-controller="Inicio" asp-action="Index">Inicio</a></li>
<li class="nav-item"><a asp-area="" asp-controller="Inicio" asp-action="Index">Mi empresa</a></li>
<li class="nav-item"><a asp-area="" asp-controller="Inicio" asp-action="Index">Publicar empleo</a></li>
<li class="nav-item"><a asp-area="" asp-controller="Inicio" asp-action="Index">Cuestionario</a></li>
<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Acceso" asp-action="Index">
        <div class="btn btn-info">Salir</div>
    </a>
</li>