@{
    //var cuestionario = ViewData["Cuestionario"];
    var aviso = ViewData["Aviso"] as AvisoCuestionario;
}

@if (aviso != null)
{
    <!-- Button trigger modal -->
    <button type="button" class="btn invisible btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="openModal">
        Launch static backdrop modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <form asp-action="Cuestionario" method="get" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">@(aviso.Titulo)</h5>
                    @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
                </div>
                <div class="modal-body">
                    @(aviso.Cuerpo)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Realizarlo más tarde</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Ir al cuestionario<i class="fa-solid fa-play mx-2"></i></button>
                </div>
            </form>
        </div>
    </div>

    <script>
        const linkCuestionario = document.getElementById("link-cuestionario");
        linkCuestionario.classList.add("text-warning");
        linkCuestionario.innerHTML += '<i class="fa-solid fa-bell fa-shake mx-2"></i>';
    </script>

    @if (aviso.forceShow)
    {
        <script>
    
            window.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById("openModal").click();
            });

        </script>
    }
}
