@model IEnumerable<Vacante>

<div class="col-12">
<table class="table">
    <thead>
    <tr>
        <th scope="col">Título</th>
        <th scope="col">Descripción</th>
        <th scope="col">Publicación</th>
        <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    @foreach (Vacante v in Model)
    {
        <tr>
            <td>@(v.Titulo)</td>
            <td>@(v.Descripcion)</td>
            <td>@(v.Fecha)</td>
            <td>@(v.Modalidad)</td>
        </tr>
    }
    </tbody>
</table>
</div>
