@model Usuario

@{
    ViewBag.Title = "Empleador";
    //var cuestionario = ViewData["Cuestionario"];
    //Layout = "_Layout";
}

<div class="container m-4">
    <h2>@ViewBag.Title</h2>
</div>

<div class="container p-4">
    <div class="row">
        <div class="col-12">
            <form asp-action="Index" method="POST" class="card">
                <div class="card-body">
                    <h4 class="card-title">Modifique sus datos</h4>
                    <div class="container-fluid my-3">
                        <div class="row justify-content-center animate__animated animate__fadeIn animate__faster">
                            <div class="col-12 col-md-8 col-lg-7 col-xl-6">
                                <div class="row justify-content-end">
                                    <h5>Datos de acceso de <small>@Html.DisplayFor(m => m.Email)</small></h5>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-floating mb-3">
                                            <input asp-for="Nombre" type="text" class="form-control display-3" placeholder="Nombre completo del representante">
                                            <label asp-for="Nombre"><i class="fa-solid fa-user-tie mx-2"></i>Nombre(s)</label>
                                        </div>
                                        <span asp-validation-for="Nombre"></span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="form-floating mb-3">
                                            <input asp-for="ApellidoPaterno" type="text" class="form-control display-3" placeholder="Apellido 1 del representante">
                                            <label asp-for="ApellidoPaterno"><i class="fa-solid fa-user-tie mx-2"></i>A. paterno</label>
                                        </div>
                                        <span asp-validation-for="ApellidoPaterno"></span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="form-floating mb-3">
                                            <input asp-for="ApellidoMaterno" type="text" class="form-control display-3" placeholder="Apellido 2 del representante">
                                            <label asp-for="ApellidoMaterno"><i class="fa-solid fa-user-tie mx-2"></i>A. materno</label>
                                        </div>
                                        <span asp-validation-for="ApellidoMaterno"></span>
                                    </div>
                                    @* <div class="col-12"> *@
                                    @*     <div class="form-floating mb-3"> *@
                                    @*         <input asp-for="Email" type="email" class="form-control display-3" placeholder="Correo electrónico"> *@
                                    @*         <label asp-for="Email"><i class="fa-solid fa-at mx-2"></i>Correo electrónico</label> *@
                                    @*     </div> *@
                                    @*     <span asp-validation-for="Email"></span> *@
                                    @* </div> *@
                                    @* <div class="col-12"> *@
                                    @*     <div class="form-floating mb-3"> *@
                                    @*         <input asp-for="Password" type="password" class="form-control display-3" placeholder="Contraseña"> *@
                                    @*         <label asp-for="Password"><i class="fa-solid fa-lock mx-2"></i>Contraseña</label> *@
                                    @*     </div> *@
                                    @*     <span asp-validation-for="Password"></span> *@
                                    @* </div> *@
                                    <div class="col-12 col-md-7 col-lg-7 col-xl-6">
                                        <button type="button" class="btn btn-warning m-auto mb-3">Cambio de contraseña<i class="fa-solid fa-lock mx-2"></i></button>
                                    </div>
                                    <div class="col-12 col-md-5 col-lg-5 col-xl-4">
                                        <button type="submit" class="btn btn-primary w-100" onclick="clickActionBtn(this);">Guardar<i class="fa-solid fa-floppy-disk mx-2"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@await Html.PartialAsync("VerificarCuestionario")