@{
    ViewBag.Title = "Publicar empleo";
    //Layout = "_Layout";
}

<div class="container m-4">
    <h2>@ViewBag.Title</h2>
</div>

<div class="container p-4">
    <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <h4>Vacantes publicadas</h4>
            <button id="nuevaVacante" class="btn btn-primary" data-url="@Url.Action("NuevaVacante")">Publicar nuevo<i class="fa-solid fa-signs-post mx-2"></i></button>
        </div>
        <div class="col-12 table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Publicación</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Nuevo empleo</td>
                    <td>Se solicita ingeniero</td>
                    <td>Ayer</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="contenedorModal"></div>

@section Scripts
{
    <script>
    
    let listaRequisitos = [];
    let listaFunciones = [];
    let listaOfertas = [];
    
    const contModal = document.getElementById("contenedorModal");
    const btnNuevo = document.getElementById("nuevaVacante");
    
    btnNuevo.addEventListener('click', (event) =>{
        const url = event.target.dataset.url;
        
        fetch(url)
        .then(body => body.text())
        .then(html => {
            contModal.innerHTML = html;
            const modalVacante = new bootstrap.Modal(document.getElementById('modalNuevaVacante'));
            modalVacante.show();
        });
    });
    
    function agregarFuncion() {
      const funciones = document.getElementById("funciones");
      const nodoRequisito = document.createElement("div");
      
      nodoRequisito.addEventListener('animationend', (event) => event.target.classList.remove('animate__animated', "animate__slideInDown", "animate__faster"))
      nodoRequisito.classList.add("input-group", "mb-2", "animate__animated", "animate__slideInDown", "animate__faster");
      nodoRequisito.innerHTML = `
            <input type="text" class="form-control" placeholder="Función o actividad">
            <button class="btn btn-outline-danger" type="button" id="button-addon2" onclick="borrarFuncion(this, ${listaRequisitos.length})">
                <i class="fa-solid fa-trash"></i>
            </button>
      `;
      
      listaFunciones.push(nodoRequisito);

      const last = funciones.lastElementChild;
      funciones.removeChild(funciones.lastElementChild)
      funciones.appendChild(nodoRequisito);
      funciones.appendChild(last);
    }
    
    function agregarRequisito(){
        const requisitos = document.getElementById("requisitos");
        const nodoRequisito = document.createElement("div");
        
        nodoRequisito.addEventListener('animationend', (event) => event.target.classList.remove('animate__animated', "animate__slideInDown", "animate__faster"))
        nodoRequisito.classList.add("input-group", "mb-2", "animate__animated", "animate__slideInDown", "animate__faster");
        nodoRequisito.innerHTML = `
                <select class="input-group-text bg-light">
                    <option selected>Requisito</option>
                    <option value="1">Experiencia</option>
                    <option value="2">Idioma</option>
                    <option value="3">Habilidad</option>
                    <option value="3">Conocimiento</option>
                </select>
                <input type="text" class="form-control" placeholder="Requisito" value="${listaRequisitos.length}">
                <button class="btn btn-outline-danger" type="button" id="button-addon2" onclick="borrarRequisito(this, ${listaRequisitos.length})">
                    <i class="fa-solid fa-trash"></i>
                </button>
        `;
        
        listaRequisitos.push(nodoRequisito);

        const last = requisitos.lastElementChild;
        requisitos.removeChild(requisitos.lastElementChild)
        requisitos.appendChild(nodoRequisito);
        requisitos.appendChild(last);
    }
    
    function agregarOferta() {
        const ofertas = document.getElementById("ofertas");
        const nodoRequisito = document.createElement("div");
        
        nodoRequisito.addEventListener('animationend', (event) => event.target.classList.remove('animate__animated', "animate__slideInDown", "animate__faster"))
        nodoRequisito.classList.add("col-12", "col-lg-6", "animate__animated", "animate__slideInDown", "animate__faster");
        nodoRequisito.innerHTML = `
        <div class="input-group mb-2">
            <input type="text" class="form-control" placeholder="Oferta, salario, bono, benficio, etc.">
            <button class="btn btn-outline-danger" type="button" id="button-addon2" onclick="borrarOferta(this, ${listaRequisitos.length})">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>
        `;
        
        listaFunciones.push(nodoRequisito);
        
        ofertas.appendChild(nodoRequisito);
    }
    
    function borrarFuncion(element, index){
        element.disabled = true;
        listaFunciones.splice(index,  1);
        document.getElementById("funciones").removeChild(element.parentElement)
    }
    
    function borrarRequisito(element, index){
        element.disabled = true;
        listaRequisitos.splice(index,  1);
        // element.parentElement.addEventListener('animationend', (event) => document.getElementById("requisitos").removeChild(element.parentElement));
        // element.parentElement.classList.add('animate__animated', 'animate__zoomOut', 'animate__faster');
        document.getElementById("requisitos").removeChild(element.parentElement)
    }
    
    function borrarOferta(element, index){
        element.disabled = true;
        listaOfertas.splice(index,  1);
        document.getElementById("ofertas").removeChild(element.parentElement.parentElement)
    }
    
    function cancelar(){
        listaRequisitos = [];
        listaFunciones = [];
        listaOfertas = [];
    }
    
    </script>
}
