@{
    ViewBag.Title = "Publicar empleo";
    //Layout = "_Layout";
}

<div class="container m-4">
    <h2>@ViewBag.Title</h2>
</div>

<div class="container p-4">
    <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <h4>Vacantes publicadas</h4>
            <button id="nuevaVacante" class="btn btn-primary" data-url="@Url.Action("NuevaVacante")">Publicar nuevo<i class="fa-solid fa-signs-post mx-2"></i></button>
        </div>
        <div id="tablaVacantes" class="to-load table-responsive row col-12 justify-content-center" data-url="@Url.Action("GetVacantes")"></div>
    </div>
</div>

<div id="contenedorModal"></div>

@section Scripts
{
    <script>
    
    let listaRequisitos = [];
    let listaFunciones = [];
    let listaOfertas = [];
    
    let modalVacante;
    const contModal = document.getElementById("contenedorModal");
    const btnNuevo = document.getElementById("nuevaVacante");
    
    window.addEventListener('DOMContentLoaded', (event) => {
        actualizarTabla();
    });
    
    btnNuevo.addEventListener('click', (event) =>{
        const url = event.target.dataset.url;
        
        fetch(url)
        .then(body => body.text())
        .then(html => {
            contModal.innerHTML = html;
            modalVacante = new bootstrap.Modal(document.getElementById('modalNuevaVacante'));
            modalVacante.show();
            configForm();
        });
    });
    
    function agregarFuncion() {
      const funciones = document.getElementById("funciones");
      const nodoRequisito = document.createElement("div");
      
      nodoRequisito.addEventListener('animationend', (event) => event.target.classList.remove('animate__animated', "animate__slideInDown", "animate__faster"))
      nodoRequisito.classList.add("input-group", "mb-2", "animate__animated", "animate__slideInDown", "animate__faster");
      nodoRequisito.innerHTML = `
            <input type="text" name="Funciones" class="funcion form-control" placeholder="Función o actividad">
            <button class="btn btn-outline-danger" type="button" id="button-addon2" onclick="borrarFuncion(this, ${listaRequisitos.length})">
                <i class="fa-solid fa-trash"></i>
            </button>
      `;
      
      listaFunciones.push(nodoRequisito);

      const last = funciones.lastElementChild;
      funciones.removeChild(funciones.lastElementChild)
      funciones.appendChild(nodoRequisito);
      funciones.appendChild(last);
    }
    
    function agregarRequisito(){
        const requisitos = document.getElementById("requisitos");
        const nodoRequisito = document.createElement("div");
        
        nodoRequisito.addEventListener('animationend', (event) => event.target.classList.remove('animate__animated', "animate__slideInDown", "animate__faster"))
        nodoRequisito.classList.add("input-group", "mb-2", "animate__animated", "animate__slideInDown", "animate__faster");
        nodoRequisito.innerHTML = `
                <select class="catRequisito input-group-text bg-light">
                    <option selected>Requisito</option>
                    <option >Experiencia</option>
                    <option >Idioma</option>
                    <option >Habilidad</option>
                    <option >Conocimiento</option>
                </select>
                <input type="text" class="requisito form-control" placeholder="Requisito">
                <button class="btn btn-outline-danger" type="button" id="button-addon2" onclick="borrarRequisito(this, ${listaRequisitos.length})">
                    <i class="fa-solid fa-trash"></i>
                </button>
        `;
        
        listaRequisitos.push(nodoRequisito);

        const last = requisitos.lastElementChild;
        requisitos.removeChild(requisitos.lastElementChild)
        requisitos.appendChild(nodoRequisito);
        requisitos.appendChild(last);
    }
    
    function agregarOferta() {
        const ofertas = document.getElementById("ofertas");
        const nodoRequisito = document.createElement("div");
        
        nodoRequisito.addEventListener('animationend', (event) => event.target.classList.remove('animate__animated', "animate__slideInDown", "animate__faster"))
        nodoRequisito.classList.add("col-12", "col-lg-6", "animate__animated", "animate__slideInDown", "animate__faster");
        nodoRequisito.innerHTML = `
        <div class="input-group mb-2">
            <input type="text" class="oferta form-control" placeholder="Oferta, salario, bono, benficio, etc.">
            <button class="btn btn-outline-danger" type="button" id="button-addon2" onclick="borrarOferta(this, ${listaRequisitos.length})">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>
        `;
        
        listaFunciones.push(nodoRequisito);
        
        ofertas.appendChild(nodoRequisito);
    }
    
    function borrarFuncion(element, index){
        element.disabled = true;
        listaFunciones.splice(index,  1);
        document.getElementById("funciones").removeChild(element.parentElement)
    }
    
    function borrarRequisito(element, index){
        element.disabled = true;
        listaRequisitos.splice(index,  1);
        // element.parentElement.addEventListener('animationend', (event) => document.getElementById("requisitos").removeChild(element.parentElement));
        // element.parentElement.classList.add('animate__animated', 'animate__zoomOut', 'animate__faster');
        document.getElementById("requisitos").removeChild(element.parentElement)
    }
    
    function borrarOferta(element, index){
        element.disabled = true;
        listaOfertas.splice(index,  1);
        document.getElementById("ofertas").removeChild(element.parentElement.parentElement)
    }
    
    function cancelar(){
        listaRequisitos = [];
        listaFunciones = [];
        listaOfertas = [];
    }
    
    function configForm(){
        document.querySelector('form').addEventListener('submit', evt => {
           evt.preventDefault();
           const data = Object.fromEntries(new FormData(evt.target));
           
           const funcs = document.getElementsByClassName("funcion");
           let funcArray = [];
           for (let i = 0; i < funcs.length; i++)
               funcArray.push(funcs[i].value);
           
           const catsRequis = document.getElementsByClassName("catRequisito");
           const requis = document.getElementsByClassName("requisito");
           let requisArray = [];
           for (let i = 0; i < catsRequis.length; i++)
               requisArray.push([catsRequis[i].value, requis[i].value]);
           
           const offers = document.getElementsByClassName("oferta");
           let offerArray = [];
           for (let i = 0; i < offers.length; i++)
                offerArray.push(offers[i].value);
           
           data["Funciones"] = JSON.stringify(funcArray);
           data["Requisitos"] = JSON.stringify(requisArray);
           data["Ofertas"] = JSON.stringify(offerArray);
           publicar(evt.target.dataset.url, data);
        });
    }
    
    function publicar(url, data){
        const params = new URLSearchParams(data).toString();
        fetch(url + "?" + params, {
            method: 'POST'
        }).then(response => response.json())
        .then(data => {
            //const modalVacante = new bootstrap.Modal(document.getElementById('modalNuevaVacante'));
            modalVacante.toggle();
            actualizarTabla();
        });
    }
    
    function actualizarTabla(){

        const cont = document.getElementById("tablaVacantes");
        const url = cont.dataset.url;

        cont.innerHTML = '<div class="col-12 p-4 d-flex justify-content-center"><div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div></div>';
        
        fetch(url)
        .then(res => res.text())
        .then(body => {
            cont.innerHTML = body;
        });
    }
    
    function eliminarVacante(vacante){
        const url = "@Url.Action("EliminarVacante")";
        
        fetch(url + "?id=" + vacante.dataset.id, { method: 'POST' })
        .then(res => res.ok)
        .then(data => {
           actualizarTabla(); 
        });
    }
    </script>
}
