
@{
    ViewBag.Title = "Esperar verificación de cuenta";
}

<div class="container mt-4 p-4">
    <div class="card">
      <div class="card-header text-primary">
        <i class="fa-solid fa-clock mx-2"></i>Verificación de cuenta
      </div>
      <div class="card-body">
        <h5 class="card-title">Su cuenta aún no está verificada</h5>
        <p class="card-text">Espere y regrese más tarde, su cuenta está siendo revisada y verificada por un administrativo.</p>
      </div>
    </div>
</div>
