@model IEnumerable<VisitaEmpresaViewModel>

@{
    ViewData["Title"] = "Empleadores";
}

<div class="container border rounded my-4 p-4 bg-white">
    <h2>Empleadores</h2>
    <div class="container">
        <p>
            El empleador es un autónomo o sociedad que hace un contrato de trabajo.<br/>
            En el seguimiento de egresados del <strong>Instituto Tecnológico de Cuautla</strong> hay empleadores que tienen un <strong class="text-warning">convenio <i class="fa-solid fa-certificate"></i></strong> con la institución que brindan <strong>vacantes</strong> para los egresados de la casa de estudios.<br/>
            Por otro lado, también hay empleadores que sin tener un convenio, pueden anunciar los puestos disponibles en sus empresas, siempre con la opción de formar un <strong>convenio</strong> con el ITC.
        </p>
    </div>
    <div id="cont" class="row">
    </div>
</div>

@section Scripts
{
    <script>
    window.addEventListener('DOMContentLoaded', (event) => {
        
        const empresas = JSON.parse('@Json.Serialize(Model)');
        init(empresas); 
    });
    
    async function init(empresas)
    {
        const contenedor = document.getElementById("cont");
          
        for(let i = 0; i < empresas.length; i++){
            
            const empresa = empresas[i];
            const col = document.createElement("div");
            col.classList.add("col-12", "col-lg-6");
            
            const card = document.createElement("div");
            card.classList.add("empleador", "card", "mb-3", "animate__animated", "animate__faster", "animate__fadeIn");
            
            const convenioBadge = empresa["convenio"] ? '<strong class="text-warning" data-bs-toggle="tooltip" data-bs-placement="right" title="Convenio"><i class="fa-solid fa-certificate ms-2"></i></strong>' : '';
            
            card.innerHTML = `
                <div class="row g-0">
                    <div class="col-md-5 ps-2 d-flex align-items-center">
                        <img src="${empresa["logoImagen"]}" class="miniatura-emp rounded" alt="...">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body  rounded m-2">
                            <h5 class="card-title text-primary">${empresa["nombre"]}${convenioBadge}</h5>
                            <p class="card-text mb-1 miniatura-galeria-desc">${empresa["descripcion"]}</p>
                            <p class="card-text m-0"><small><i class="fa-solid fa-id-card me-2"></i>RFC: ${empresa["rfc"]}</small></p>
                            <p class="card-text m-0"><small><i class="fa-solid fa-envelope me-2"></i>${empresa["correo"]}</small></p>
                            <p class="card-text m-0"><small><i class="fa-solid fa-phone me-2"></i>${empresa["telefono"]}</small></p>
                            <a href="${empresa["website"]}" target="_blank" class="card-text m-0 text-decoration-none"><small><i class="fa-solid fa-earth-americas me-2"></i>${empresa["website"]}</small></a>
                            <p class="card-text text-end">
                                <small class="text-muted">${empresa["representante"]}</small>
                            </p>
                        </div>
                    </div>
                </div>  
            `;
            
            col.appendChild(card);
            contenedor.appendChild(col);
            
            await timer(150);
        }
        
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });
    }
    </script>
}

@* <a class="nav-link" asp-area="" asp-controller="Inicio" asp-action="Index"> *@
@*     <div class="btn btn-info">Inicio</div> *@
@* </a> *@
@* <a class="nav-link" asp-area="Egresados" asp-controller="Inicio" asp-action="Index"> *@
@*     <div class="btn btn-info">Egresados</div> *@
@* </a> *@
@* <a class="nav-link" asp-area="Empleadores" asp-controller="Inicio" asp-action="Index"> *@
@*     <div class="btn btn-info">Empleadores</div> *@
@* </a> *@
