
@{
    ViewData["Title"] = "Inicio";
}

<h1>Inicio Empleadores</h1>

<a class="nav-link" asp-area="" asp-controller="Inicio" asp-action="Index">
    <div class="btn btn-info">Inicio</div>
</a>
<a class="nav-link" asp-area="Egresados" asp-controller="Inicio" asp-action="Index">
    <div class="btn btn-info">Egresados</div>
</a>
<a class="nav-link" asp-area="Empleadores" asp-controller="Inicio" asp-action="Index">
    <div class="btn btn-info">Empleadores</div>
</a>
