@* <div class="vstack text-center"> *@
@*     <a class="btn btn-primary px-4 py-2 me-3 fw-bold w-100" asp-area="" asp-controller="Acceso" asp-action="Index"> *@
@*         Ingresar<i class="fa-solid fa-arrow-right-to-bracket mx-2"></i> *@
@*     </a> *@
@*     <a class="link-secondary text-decoration-none fs-6" asp-area="" asp-controller="Registro" asp-action="Index">Registrarse</a> *@
@* </div> *@

<a class="btn btn-primary px-4 py-2 me-3 fw-bold" asp-area="" asp-controller="Acceso" asp-action="Index">
    Ingresar<i class="fa-solid fa-arrow-right-to-bracket mx-2"></i>
</a>
<a class="link-secondary text-decoration-none fs-6" asp-area="" asp-controller="Registro" asp-action="Index">Registrarse</a>