<a class="btn btn-toolbar px-3 me-3" asp-area="" asp-controller="Inicio" asp-action="Index">Mis datos</a>
<a class="btn btn-toolbar px-3 me-3" asp-area="" asp-controller="Inicio" asp-action="Index">Cuestionario</a>
<a class="btn btn-primary px-3 me-3" asp-area="" asp-controller="Perfil" asp-action="CerrarSesion">Salir</a>