<a class="btn btn-toolbar px-3 me-3" asp-area="Usuario" asp-controller="Empleador" asp-action="MisDatos">Mis datos</a>
<a class="btn btn-toolbar px-3 me-3" asp-area="Usuario" asp-controller="Empleador" asp-action="PublicarEmpleo">Publicar empleo</a>
<a class="btn btn-toolbar px-3 me-3" asp-area="Usuario" asp-controller="Empleador" asp-action="Cuestionario">Cuestionario</a>
<a class="btn btn-primary px-3 me-3" asp-area="Usuario" asp-controller="Empleador" asp-action="CerrarSesion">Salir</a>