<a class="col-12 col-sm-auto nav-link link-secondary me-2 text-center" asp-area="Usuario" asp-controller="Administrativo" asp-action="Index">Sistema</a>
@* <a id="link-cuestionario" class="col-12 col-sm-auto nav-link link-secondary me-2 text-center" asp-area="Usuario" asp-controller="Egresado" asp-action="Cuestionario">Cuestionario</a> *@
<a class="col-12 col-sm-auto text-center" asp-area="Usuario" asp-controller="Administrativo" asp-action="CerrarSesion">
    <button class="btn btn-primary  px-4 py-2 me-2 fw-bold" onclick="clickActionBtn(this)">
        Salir
        <i class="fa-solid fa-right-from-bracket ms-2"></i>
    </button>
</a>
