<a class="nav-link link-secondary me-2" asp-area="Usuario" asp-controller="Empleador" asp-action="Index">Mi perfil</a>
<a class="nav-link link-secondary me-2" asp-area="Usuario" asp-controller="Empleador" asp-action="MiEmpresa">Mi empresa</a>
<a class="nav-link link-secondary me-2" asp-area="Usuario" asp-controller="Empleador" asp-action="PublicarEmpleo">Publicar empleo</a>
<a class="nav-link link-secondary me-2" asp-area="Usuario" asp-controller="Empleador" asp-action="Cuestionario">Cuestionario</a>
<a class="btn btn-primary  px-4 py-2 me-2 fw-bold" asp-area="Usuario" asp-controller="Empleador" asp-action="CerrarSesion">Salir<i class="fa-solid fa-right-from-bracket ms-2"></i></a>