<a class="btn btn-primary px-3 me-3" asp-area="" asp-controller="Acceso" asp-action="Index">Ingresar</a>
<a class="btn btn-toolbar px-3 me-3" asp-area="" asp-controller="Registro" asp-action="Index">Registrarse</a>