@model SeguimientoEgresados.Models.ViewModels.AccesoViewModel

@{
    ViewBag.Title = "Acceder";
    string ReturnUrl = ViewData["ReturnUrl"] as string;
    //Layout = "_Layout";
}

@* <h2>Ingresar</h2> *@
@* <div class="row"> *@
@*     <div class="danger"> *@
@*         @ViewBag.Error *@
@*     </div> *@
@*     <form asp-action="Index" method="post"> *@
@*         <div class="form-group"> *@
@*             <label>Usuario</label> *@
@*             <input type="email" name="User" /> *@
@*         </div> *@
@*         <div class="form-group"> *@
@*             <label>Contraseña</label> *@
@*             <input type="password" name="Pass" /> *@
@*         </div> *@
@*         <div class="form-group"> *@
@*             <input type="submit" value="Entrar" class="btn btn-success" /> *@
@*         </div> *@
@*     </form> *@
@* </div> *@
@* <a class="btn btn-outline-secondary">Registrarse</a> *@

<div class="main-login container-fluid main-container d-flex align-items-center">
        <div class="row justify-content-center w-100">
            <div class="col-12 col-lg-6 ">
                @* <img src="images/inicio.jpg" alt="Imagen ITC" class="img-fluid"></img> *@
            </div>
            <div class="col-12 col-lg-6 col-xl-5 row m-auto animate__animated animate__fadeIn">
                <div class="container card col-12 col-sm-8 col-md-6 col-lg-8 sombra-1" id="main-view">
                    <div class="card-body">
                        <h3>Ingresa</h3>
                        <p>Ingresa a tu cuenta</p>
                        <form asp-action="Index" method="post" class="container">
                            @* <div class="input-group mb-3"> *@
                            @*     <div class="input-group-text"><i class="fa-solid fa-at"></i></div> *@
                            @*     <input class="form-control" type="email" name="User" id="Email"> *@
                            @* </div> *@
                            <div class="mb-3">
                                <div class="form-floating">
                                    <input asp-for="Email" type="text" class="form-control display-3" placeholder="Nombre completo del representante">
                                    <label asp-for="Email"><i class="fa-solid fa-at mx-2"></i>Correo electrónico</label>
                                </div>
                                <small><span class="text-danger" asp-validation-for="Email"></span></small>
                            </div>
                            @* <div class="input-group mb-3"> *@
                            @*     <div class="input-group-text"><i class="fa-solid fa-lock"></i></div> *@
                            @*     <input class="form-control" type="password" name="Pass" id="Password"> *@
                            @* </div> *@
                            <div class="mb-3">
                                <div class="form-floating">
                                    <input asp-for="Password" type="password" class="form-control display-3" placeholder="Contraseña">
                                    <label asp-for="Password"><i class="fa-solid fa-lock mx-2"></i>Contraseña</label>
                                </div>
                                <small><span class="text-danger" asp-validation-for="Password"></span></small>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" name="recordar" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">Recordar</label>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="text-danger text-center animate__animated animate__bounceIn">
                                        @ViewBag.Error
                                    </div>
                                </div>
                                <div class="col-10 col-lg-10 mb-3">
                                    @* <input type="submit" class="btn btn-primary w-100" value="Iniciar sesión" onclick="clickActionBtn(this)"/> *@
                                    <button type="submit" class="btn btn-primary w-100" onclick="clickActionBtn(this)">Iniciar sesión</button>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <!-- <div class="col-10 col-lg-10"><button type="button" class="btn btn-outline-secondary btn-md w-100">Registrarse</button></div> -->
                                <div class="col-10 col-lg-10 row justify-content-center">
                                    <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button" id="registrarComo" data-bs-toggle="dropdown" aria-expanded="false">
                                        Registrarse
                                    </button>
                                    <ul class="dropdown-menu col-7" aria-labelledby="registrarComo">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Registro" asp-action="Egresado">Egresado</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Registro" asp-action="Empleador">Empleador</a></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
@section Scripts
{
    <script>
        // window.addEventListener('DOMContentLoaded', (event) => {
        // document.getElementById("main-view").scrollIntoView({block:"start"});
        // });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}